/* Before */

/*  don't use this
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

/* After,
  when you set 'postcss-import' in your PostCSS configuration,
   use @import 'tailwindcss/xxx',  
   don't use @tailwind xxx   */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Last import @radix-ui/themes/styles.css */
@import "@radix-ui/themes/styles.css";

/* Make sure `@import` statements must come first 👆 */

/* If you are using @layer @apply or other tailwindcss nested declarations,
      maker sure enable 'tailwindcss/nesting' in your PostCSS configuration
   */

/* src/assets/styles/global.css */
@font-face {
  font-family: "SukhumvitSet";
  src: url("/src/assets/fonts/SukhumvitSet-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SukhumvitSet";
  src: url("/src/assets/fonts/SukhumvitSet-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SukhumvitSet";
  src: url("/src/assets/fonts/SukhumvitSet-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SukhumvitSet";
  src: url("/src/assets/fonts/SukhumvitSet-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SukhumvitSet";
  src: url("/src/assets/fonts/SukhumvitSet-Text.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SukhumvitSet";
  src: url("/src/assets/fonts/SukhumvitSet-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: "SukhumvitSet", sans-serif;
  font-weight: 400;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}
